<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vay.enterwind.auto2000samarinda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FCM -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- FCM -->

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".module.sales.HomeActivity" />
        <activity android:name=".module.sales.PlanningActivity" />
        <activity android:name=".module.sales.CheckpointActivity" />
        <activity android:name=".module.sales.ProfilActivity" />
        <activity android:name=".module.sales.profil.UbahProfilActivity" />
        <activity android:name=".module.sales.profil.UbahPasswordActivity" />
        <activity android:name=".module.sales.plans.AddPlanActivity" />
        <activity
            android:name=".module.sales.plans.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".pubnub.example.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".pubnub.example.MainActivity" />
        <activity android:name=".module.sales.profil.TentangActivity" />
        <activity android:name=".module.sales.checkpoint.DetailActivity" />
        <activity android:name=".module.sales.TimelineActivity" />
        <activity
            android:name=".module.supervisor.TrackActivity"
            android:label="@string/title_activity_sales_location" />
        <activity android:name=".module.supervisor.HomeActivity" />
        <activity android:name=".module.others.HomeActivity" />
        <activity android:name=".module.others.ProfilActivity" />
        <activity android:name=".module.others.HistoryActivity" />
        <activity android:name=".module.others.TimelineActivity" />
        <activity android:name=".module.service.HomeActivity" />
        <activity android:name=".module.service.HistoryActivity" />
        <activity android:name=".module.service.ProfilActivity" />
        <activity android:name=".module.service.TimelineActivity" />
        <activity android:name=".module.supervisor.ReportActivity" />
        <activity android:name=".module.supervisor.ProfilActivity" />
        <activity android:name=".module.supervisor.TimelineActivity" />
        <activity android:name=".module.others.references.AddReferenceActivity" />
        <activity android:name=".module.sales.plans.DetailActivity" />
        <activity android:name=".module.sales.RebutanActivity" />
        <activity android:name=".module.supervisor.report.PlanActivity" />
        <activity
            android:name=".module.supervisor.track.FullMapActivity"
            android:label="@string/title_activity_full_map" />
        <activity
            android:name=".module.supervisor.track.SalesMapActivity"
            android:label="@string/title_activity_sales_map" />
        <activity android:name=".pubnub.datastream.LoginActivity" />
        <activity android:name=".pubnub.datastream.MainActivity" />
        <activity android:name=".module.sales.plans.FotoActivity"></activity>

    </application>

</manifest>